* {
  background-size: auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(129, 117, 117);
}


.header nav ul{
  
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 1px;
  

  border-radius: 50px;
}
.header nav ul li a{
    text-decoration: none;
}
.header nav ul li a:hover {
  color: brown;
}



li {
  list-style: none;
  border: 10px;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 70;
  font-style: oblique;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-display: block;
}

#portolio {
  border-radius: 10px;
}

.main h1 {
  margin-top: 0;
}

.footer {
  text-align: end;
  margin-bottom: 0;
  list-style: none;
}

.mylogo {
  width: 60px;
  height: 60px;
}



.about:hover {
  background-color: bisque;
  transition: 1s;
}
